@charset "UTF-8";
* {
  box-sizing: border-box;
}
html,body { height: 100%; margin: 0; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.nav {
  background-golor: #ccc;
  display:flex;
  flex-direction:column;
  list-style-type: square;
  text-align: left;
  color: white;
  display:block;
  padding:14px 20px;
}

.nav a:hover {
  background-color: #fff;
  color: black;
}
  
.header {
  background-color: #3E10F7;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  color: white;
}

.headerbox {
  clear: both;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}
.headerbox > div {
  margin: 10px;
  padding:20px;
  font-size:12px;
  text-align: center;
  background-color: #777;
}
.rowbox {
  display: flex;
  fex-wrap: wrap;
}
.side {
  flex:30%;
  background-color:#777;
  padding: 20px;
}
.main {
  flex:70%;
  background-color: ccc;
  padding: 20px;
}

.footer {
  background-color: #3E10F7;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  color: white;
  margin-top:auto;
}

h1 { 
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  color: black;
}
h2 { 
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: bold;
  color: black;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-indent: 50px;
  text-align: left;
  margin: 10px;
}

input[type=text] {
  width: 100%;
  padding: 24px 40px;
  margin: 8px 0;
  box-sizing: border-box;
}

.row {
 display: flex;
}

.row_cell {
 border:1px solid black;
 flex:1;
}

.top{
 background: #e6f2ff;
 text-align: center;
 margin: 10px;
}

.bottom{
 background: #e6f2ff;
 min-height: 80px;
 margin: 10px;
}

.middle{
 background: #b3d9ff;
 min-height: 80px;
 margin: 10px;
}

/* media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
  .main {flex: 50%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}


}
